body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: lightblue
}

/*CSS for notifications*/

.info {
  --status: attr(data-status type(virhe));
  border: 2px solid black;
  margin: 1em;
  padding: 0.5em;
  background-color: if(
        style(--status:virhe): red;
        else: green);
  color: white;
}

/* CSS for listing recipes */

.recipe-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.recipe-card {
    background-color:#C8E5EE;
    border: 2px solid orange;
    border-radius: 5px;
    padding: 10px;
}

.recipe-card p {
    margin: 5px 0;
}

/* CSS for classes */

.classes {
    --status: attr(data-status type(<custom-ident>));
    background-color: if(
        style(--status:Juhla): #a7c957;
        style(--status:Kulttuuri): #d4e09b;
        style(--status:Ruokavalio): #cbdfbd;
        style(--status:Lisäkategoria):#f6f4d2;
        else: #f19c79);
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    display: inline-block;
}

/* CSS for images */

img.resize {
    width: 550px;
    height: auto;
}

/* CSS for ingredients and instructions */

.recipe-container {
    display: flex;
}

.ingredients, .instructions {
    min-width: 350px;
    margin-bottom: 10px;
}

.ingredients li {
    margin: 15px 0;
}

.ingredients ul {
    max-width: 250px;
    overflow-wrap: break-word;
}

.instructions p {
    line-height: 1.6;
}

.time, .avg-rating {
    margin-right: 50px;
}


/* CSS for listing reviews */

.review-section {
    margin-top: 20px;
    background-color: #C8E5EE;
    border: 2px solid green;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

.review {
    margin-bottom: 15px;
}

.review-section h2 {
    text-align: center;
}

.review-header {
    display: flex;
    column-gap: 400px;
}

.review p {
    margin-bottom: 0px;
}

hr {
    margin: 1em;
}

/* CSS for checkboxes */

.checkbox-group {
    display: flex;
}

.checkbox-column {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.checkbox-column p {
    margin-bottom: 8px
}

.checkbox-item {
    margin: 6px 0;
}

input[type="checkbox"] {
    margin-right: 8px;
}

/* CSS for textarea note*/

.ingredients {
    margin-top: 20px;
}

.note {
    font-size: 0.9em;
    color: DimGray;
    margin-top: -10px;
    margin-bottom: 20px;
