{% extends "layout.html" %}

{% block title %}Reseptin muokkaus{% endblock %}

{% block content %}
<h2>{{recipe.title}}</h2>

<h3>Reseptin muokkaus</h3>

<form action="/update_recipe" method="post">
  <p>
    Reseptin nimi: <br />
    <input type="text" name="title" size = "30" value = "{{recipe.title}}" maxlength = "65" required/>
  </p>

  <p><strong>Valitse reseptillesi sopivat kategoriat </p></strong>

  <div class="checkbox-group">
    {% for class in all_classes %}
    {% if class != "Vaikeustaso" %}
    <div class="checkbox-column">
      <p><strong>{{ class }}</strong></p>
      {% for option in all_classes[class] %}
      {%  if option in classes[class]  %}
      <label><input type = "checkbox" name = "classes" value = "{{ class }}:{{ option }}" checked/> {{ option }}</label>
      {%  else  %}
      <label><input type = "checkbox" name = "classes" value = "{{ class }}:{{ option }}"/> {{ option }}</label>
      {% endif %}
      {% endfor %}
    </div>
    {% else %}
  </div>
  <p>
    {{ class }}: <br />
    <select name = "classes">
      <option value = "">(valitse)</option>
      {% for option in all_classes[class] %}
      {%  if option in classes[class]  %}
      <option value = "{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value = "{{ class }}:{{ option }}" >{{ option }}</option>
      {%  endif  %}
      {% endfor %}
    </select>
  </p>
  {% endif %}
  {% endfor %}

  <p>
    Valmistusaika: <br />
    <input type="number" name ="recipe_time" min="1" max = "999" step = "1" value = "{{recipe.recipe_time}}" required/> minuuttia
  </p>

  <p class="ingredients">
    Ainekset: <br />
    <textarea name="ingredients" rows = "5" cols = "40" maxlength = 1000 required>{{recipe.ingredients}}</textarea>
    <p class="note">Erottele ainesosat pilkulla. </p>
  </p>

  <p>
    Ohjeet: <br />
    <textarea name="instructions" rows = "8" cols = "60" maxlength = 3000 required>{{recipe.instructions}}</textarea>
  </p>

  <input type="hidden" name="recipe_id" value = "{{recipe.id}}"/>
  <input type="submit" value="Päivitä resepti" />

</form>
<p><a href = "/recipe/{{recipe.id}}">Peruuta</a></p>

{% endblock %}
