{% extends "layout.html" %}

{% block title %}Edit review{% endblock %}

{% block content %}
<h2>Edit review</h2>

<p>
  You are editing your review for a user's <a href = "/user/{{recipe.user_id}}">{{recipe.username}}'s</a> recipe <a href="/recipe/{{recipe.id}}">{{recipe.title | safe}}</a>
</p>

<form action="/recipe/{{recipe.id}}/edit_review/{{my_review.review_id}}" method="post">
  <p>
    <label for="rating">Rating:</label>
    <select id="rating" name = "rating" required>
      <option value = "">(Choose)</option>
      {% for rating in range(1,6) %}
      {%  if rating == my_review.rating  %}
      <option value = "{{rating}}" selected>{{rating}}</option>
      {% else %}
      <option value = "{{rating}}">{{rating}}</option>
      {%  endif  %}
      {% endfor %}
    </select>
  </p>

  <textarea name = "comment" rows = "8" cols = "60" placeholder = "Comment on the recipe..." maxlength = 2000 required>{{my_review.comment}}</textarea> <br />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type = "submit" name = "update" value = "Save changes" />
  <input type = "submit" name = "remove" value = "Remove review" />
  <input type = "submit" name = "back" value = "Cancel" />
</form>
{% endblock %}
