{% extends "layout.html" %}

{% block title %}Edit recipe{% endblock %}

{% block content %}
<h2>{{recipe.title | safe}}</h2>

<h3>Edit recipe</h3>

<form action="/update_recipe" method="post">
  <p>
    <label for="title">Recipe name:</label> <br />
    <input type="text" id="title" name="title" size = "40" value = "{{recipe.title | safe}}" maxlength = "65" required/>
  </p>

  <p><strong>Choose suitable categories for your recipe </p></strong>

  <div class="checkbox-group">
    {% for class in all_classes %}
    {% if class != "Vaikeustaso" %}
    <div class="checkbox-column">
      <p><strong>{{ class }}</strong></p>
      {% for option in all_classes[class] %}
      <div class="checkbox-item">
        {%  if option in classes[class]  %}
        <input type = "checkbox" id="option{{ option }}" name = "classes" value = "{{ class }}:{{ option }}" checked/> <label for="option{{ option }}">{{ option }}</label>
        {%  else  %}
        <input type = "checkbox" id="option{{ option }}" name = "classes" value = "{{ class }}:{{ option }}"/> <label for="option{{ option }}">{{ option }}</label>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% else %}
  </div>
  <p>
    <label for="class{{ class }}">{{ class }}:</label> <br />
    <select id="class{{ class }}" name = "classes">
      <option value = "">(valitse)</option>
      {% for option in all_classes[class] %}
      {%  if option in classes[class]  %}
      <option value = "{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value = "{{ class }}:{{ option }}" >{{ option }}</option>
      {%  endif  %}
      {% endfor %}
    </select>
  </p>
  {% endif %}
  {% endfor %}

  <p>
    <label for="recipe_time">Prep time:</label> <br />
    <input type="number" id="recipe_time" name ="recipe_time" min="1" max = "999" step = "1" value = "{{recipe.recipe_time}}" required/> minutes
  </p>

  <p class="ingredients">
    <label for="ingredients">Ingredients:</label> <br />
    <textarea id="ingredients" name="ingredients" rows = "5" cols = "40" maxlength = 1000 required>{{recipe.ingredients}}</textarea>
    <p class="note">Separate the ingredients with a comma. </p>
  </p>

  <p>
    <label for="instructions">Instructions:</label> <br />
    <textarea id="instructions" name="instructions" rows = "8" cols = "60" maxlength = 3000 required>{{recipe.instructions}}</textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="hidden" name="recipe_id" value = "{{recipe.id}}"/>
  <input type="submit" value="Update recipe" />

</form>
<p><a href = "/recipe/{{recipe.id}}">Cancel</a></p>

{% endblock %}
