{% extends "layout.html" %}

{% block title %}Reseptihaku{% endblock %}

{% block content %}
<h2>Reseptihaku</h2>

<form action="/find_recipe" method="get">
  <p>
    Hakusana: <input type="text" name="query">
  </p>
  <input type="submit" value="Hae">
</form>

{%if query%}
<h3>Hakutulokset:</h3>
<div class="recipe-list">
  {%for recipe in results%}
  <div class="recipe-card">
    <h3><a href = "/recipe/{{recipe.id}}">{{recipe.title}}</a></h3>
    <p>
      Kirjoittaja: <a href = "user/{{recipe.user_id}}">{{recipe.username}}</a>
    </p>
    <p>
      <strong>Valmistusaika:</strong> {{recipe.recipe_time}} minuuttia
    </p>
    {% if recipe.avg_rating %}
    <p>
      <strong>Keskimääräinen arvio:</strong> {{recipe.avg_rating}}/5
    </p>
    {% endif %}

      {% for class, options in classes[recipe.id].items()%}
      {%for option in options%}
      <p class="classes" data-status="{{class}}">{{option}} </p>
      {%endfor%}
      {%endfor%}
    </p>
  </div>
  {%endfor%}
</div>
{%endif%}

{% endblock %}
