<!DOCTYPE html>
<html>

<head>
  <title>Reseptisovellus</title>
</head>

<body>
  <h1>Reseptisovellus</h1>
  <a href="/find_recipe"> Reseptihaku</a>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <p><strong>{{message}}</strong></p>
  {% endfor %}
  {% endif %}
  {% endwith %}
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }} <br />
  </p>
  <p>
  </p>
  <p>
    <a href = "/new_recipe"> Uusi resepti</a>
    <a href = "/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
    <p>
      <a href = "/login">Kirjaudu sisään</a> <br />
      <a href = "/register">Luo tunnus</a>
    </p>
  {% endif %}
  <h2> Reseptit </h2>
    <ul>
      {%for recipe in recipes%}
      <li><a href = "/recipe/{{recipe.id}}"> {{recipe.title}}</a></li>
      {%endfor%}
    </ul>

</body>

</html>
