<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>Recipe app</h1>

  <p>
    {% if session.user_id %}
    You're currently logged in as {{session.username}} <br />
    {% endif %}
  </p>

  <p>
    <a href="/"> Frontpage</a> |
    <a href="/find_recipe"> Search recipe</a> |
    {% if session.user_id %}
    <a href = "/new_recipe"> New recipe</a> |
    <a href = "/user/{{session.user_id}}"> Profile</a> |
    <a href = "/logout">Log out</a>
    {% else %}
    <a href = "/login">Log in</a> |
    <a href = "/register">Register</a>
    {% endif %}
  </p>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  {% if "ERROR" in message %}
  <p class="info" data-status="virhe"><strong>{{message}}</strong></p>
  {% else %}
  <p class="info"><strong>{{message}}</strong></p>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</body>

</html>
