<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
</head>

<body>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/">Etusivulle</a> <br />
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}

  <h1>Kirjaudu sisään</h1>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <p><strong>{{message}}</strong></p>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" required/>
    </p>

    <p>
      Salasana: <br />
      <input type="password" name="password" required/>
    </p>

    <input type="submit" value="Kirjaudu"/>
  </form>
  <a href = "/">Peruuta</a>
  {% endif %}
</body>

</html>
