{% extends "layout.html" %}

{% block title %}Reseptin kuvan vaihtaminen{% endblock %}

{% block content %}
<h2>{{recipe.title | safe}}</h2>
<h3>Kuvan vaihtaminen</h3>

{% if recipe.has_image %}
<p> Reseptin nykyinen kuva:</p>
<img class ="resize" src="/image/{{recipe.id}}" alt="Reseptin kuva"/>
{% else %}
<p>Reseptillä "{{recipe.title | safe}}" ei ole vielä kuvaa</p>
{% endif %}

<form action="/new_image/{{recipe.id}}" method="post" enctype="multipart/form-data">
<p>
  <label for="image">Valitse uusi kuva (tiedostopääte .jpg, .jpeg tai .png):</label> <input type="file" id="image" name="image" accept=".png, .jpg,
    .jpeg" />
</p>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
<input type="submit" value="Tallenna muutokset" />
</form>
<p>
  <a href = "/recipe/{{recipe.id}}">Peruuta</a>
</p>
{% endblock %}
