{% extends "layout.html" %}

{% block title %}Reseptin kuvan vaihtaminen{% endblock %}

{% block content %}
<h2>Reseptin kuvan vaihtaminen</h2>

{% if recipe.has_image %}
<p> Reseptin "{{recipe.title}}" nykyinen kuva:</p>
<img src="/image/{{recipe.id}}" />
{% else %}
<p>Reseptillä "{{recipe.title}}" ei ole vielä kuvaa</p>
{% endif %}

<form action="/new_image/{{recipe.id}}" method="post" enctype="multipart/form-data">
<p>
    Valitse uusi kuva (tiedostopääte .jpg, .jpeg tai .png): <input type="file" name="image" accept=".png, .jpg, .jpeg" />
</p>
<input type="submit" value="Tallenna muutokset" />
</form>
<p>
<a href = "/recipe/{{recipe.id}}">Peruuta</a>
</p>
{% endblock %}
