{% extends "layout.html" %}

{% block title %}Uusi resepti{% endblock %}

{% block content %}
<h2>Uusi resepti</h2>
<form action="/create_recipe" method="post" enctype="multipart/form-data">
  <p>
    <label for="title">Reseptin nimi:</label> <br />
    <input type="text" id="title" name="title" size = "40" maxlength = "65" required/>
  </p>
  <p>
    <label for="image">Valitse kuva (tiedostopääte .jpg, .jpeg tai .png): <input type="file" id="image" name="image" accept=".jpg, .jpeg, .png" />
  </p>
  <p><strong>Valitse reseptillesi sopivat kategoriat </p></strong>
  <div class="checkbox-group">
    {% for class in classes %}
    {% if class != "Vaikeustaso" %}
    <div class="checkbox-column">
      <p><strong>{{ class }}</strong></p>
      {% for option in classes[class] %}
      <div class="checkbox-item">
        <input type = "checkbox" id="option{{ option }}" name = "classes" value = "{{ class }}:{{ option }}"/><label for="option{{ option }}">{{ option }}</label>
      </div>
      {% endfor %}
    </div>
    {% else %}
  </div>
  <p>
    <label for="class{{ class }}">{{ class }}:</label> <br />
    <select id ="class{{ class }}" name = "classes">
    <option value = "">(valitse)</option>
    {% for option in classes[class] %}
    <option value = "{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endif %}
  {% endfor %}
  <p>
    <label for="recipe_time">Valmistusaika:</label> <br />
    <input type="number" id="recipe_time" name ="recipe_time" min="1" max = "999" step = "1" required/> minuuttia
  </p>
  <p class = "ingredients">
    <label for="ingredients">Ainekset:</label> <br />
    <textarea id="ingredients" name="ingredients" rows="5" cols="40" maxlength=1000 required></textarea>
    <p class="note">Erottele ainesosat pilkulla. </p>
  </p>
  <p>
    <label for="instructions">Ohjeet:</label> <br />
    <textarea id="instructions" name="instructions" rows="8" cols="60" maxlength=3000 required></textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Luo resepti" />
</form>
{% endblock %}
