<!DOCTYPE html>
<html>

<head>
  <title>Uusi resepti</title>
</head>

<body>
  <h1>Uusi resepti</h1>
  <form action="/create_recipe" method="post">
    <p>
      Reseptin nimi: <br />
      <input type="text" name="title" size = "30" maxlength = "65" required/>
    </p>
  <h2>Valitse reseptillesi sopivat kategoriat </h2>
  {% for class in classes %}
  {% if class != "Vaikeustaso" %}
  <p>
    {{ class }}: <br/>
    {% for option in classes[class] %}
    <input type = "checkbox" name = "classes" value = "{{ class }}:{{ option }}"/> {{ option }}
    {% endfor %}
  {% else %}
  <p>
    {{ class }}: <br/>
    <select name = "classes">
    <option value = "">(valitse)</option>
    {% for option in classes[class] %}
    <option value = "{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endif %}
  {% endfor %}
    <p>
      Valmistusaika: <br />
      <input type="number" name ="recipe_time" min="1" max = "999" step = "1" required/> minuuttia
    </p>
    <p>
      Ainekset: <br />
      <textarea class = "ingredients" name="ingredients" rows = "5" cols = "40" maxlength = 1000 required></textarea>
      <small>Erottele ainesosat pilkulla. </small>
    </p>
    <p>
      Ohjeet: <br />
      <textarea name="instructions" rows = "8" cols = "60" maxlength = 1000 required></textarea>
    </p>
    <input type="submit" value="Luo resepti" />
  </form>
  <p>
    <a href = "/">Peruuta</a>
  </p>
</body>

</html>
