{% extends "layout.html" %}

{% block title %}Rekisteröinti{% endblock %}

{% block content %}
<h2>Luo tunnus</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p><strong>{{message}}</strong></p>
{% endfor %}
{% endif %}
{% endwith %}

<form action="/create" method="post">
  <p>
    Tunnus: <br />
    <input type="text" name="username" required/>
  </p>
  <p>
    Salasana: <br />
    <input type="password" name="password1" required/>
  </p>
  <p>
    Salasana uudestaan: <br />
    <input type="password" name="password2" required/>
  </p>
  <input type="submit" value="Luo tunnus" />
</form>

{% endblock %}
