{% extends "layout.html" %}

{% block title %}Delete recipe{% endblock %}

{% block content %}
<h2>{{recipe.title | safe}}</h2>

<h3>Delete recipe</h3>

<p> Are you sure you want to delete the recipe "{{recipe.title | safe}}"? </p>

<form action="/remove_recipe/{{recipe.id}}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="remove" value="Delete recipe">
  <input type="submit" name="back" value="Cancel">
</form>
{% endblock %}
