{% extends "layout.html" %}

{% block title %}User {{user.username}}{% endblock %}

{% block content %}
<h2>User {{user.username}}</h2>
<p>
  The user has created {{recipes|length}} recipes.
</p>
<h2> User's recipes: </h2>

<div class="recipe-list">
  {%for recipe in recipes%}
  <div class="recipe-card">
    <h3><a href = "/recipe/{{recipe.id}}">{{recipe.title}}</a></h3>
    <p>
      <strong>written by:</strong> <a href = "user/{{recipe.user_id}}">{{recipe.username}}</a>
    </p>
    <p>
      <strong>Prep time:</strong> {{recipe.recipe_time}} minuuttia
    </p>
    {% if recipe.avg_rating %}
    <p>
      <strong>Average rating:</strong> {{recipe.avg_rating}}/5
    </p>
    {% endif %}
      {% for class, options in classes[recipe.id].items()%}
      {%for option in options%}
      <p class="classes" data-status="{{class}}">{{option}} </p>
      {%endfor%}
      {%endfor%}
  </div>
  {%endfor%}
</div>
{% endblock %}
