{% extends "layout.html" %}

{% block title %}Käyttäjä {{user.username}}{% endblock %}

{% block content %}
<h2>Käyttäjä {{user.username}}</h2>
<p>
  Käyttäjä on luonut {{recipes|length}} reseptiä.
</p>
<h2> Käyttäjän reseptit: </h2>

<div class="recipe-list">
  {%for recipe in recipes%}
  <div class="recipe-card">
    <h3><a href = "/recipe/{{recipe.id}}">{{recipe.title}}</a></h3>
    <p>
      |
      {% for key, value in classes[recipe.id].items()%}
      {%for category_list in value%}
      {{category_list}} |
      {%endfor%}
      {%endfor%}
    </p>
<!--<p>
      Arvio: ★★★★☆ (4.0/5)
    </p> -->
  </div>
  {%endfor%}
{% endblock %}
