{% extends "layout.html" %}

{% block title %}{{recipe.title}}{% endblock %}

{% block content %}
<h2>{{recipe.title}}</h2>

<p>
  käyttäjältä <a href = "/user/{{recipe.user_id}}"> {{recipe.username}} </a>
</p>

{% if session.user_id == recipe.user_id %}
<p>
  <a href = "/edit_recipe/{{recipe.id}}">Muokkaa</a> |
  <a href = "/new_image/{{recipe.id}}">Vaihda kuvaa</a> |
  <a href = "/remove_recipe/{{recipe.id}}">Poista</a>
</p>
{%endif%}

{% if recipe.has_image%}
<img class ="resize" src="/image/{{recipe.id}}" />
{% endif %}
<br />
{% for title in classes %}
{% for option in classes[title] %}
<p class="classes" data-status="{{title}}">{{option}}</p>
{%endfor%}
{%endfor%}
<h3>Valmistusaika</h3>
<p>Valmistusaika: {{recipe.recipe_time}} minuuttia</p>
<div class="recipe-container">
  <div class="ingredients">
    <h3>Ainekset:</h3>
    <ul>
      {%for ingredient in recipe.ingredients.split(",")%}
      <li> {{ingredient}}</li>
      {%endfor%}
    </ul>
  </div>
  <div class="instructions">
    <h3>Valmistusohjeet: </h3>
    <p>{{recipe.instructions}}</p>
  </div>
</div>

{% if session.user_id and session.user_id != recipe.user_id and not my_review %}

<h2>Arvioi resepti</h2>
<form action = "/create_review" method = "post">
  <p>
    Arvosana:
    <select name = "rating" required>
      <option value = "">(valitse)</option>
      {% for rating in range(1,6) %}
      <option value = "{{rating}}">{{rating}}</option>
      {% endfor %}
    </select>
    </p>
  <textarea name = "comment" rows = "8" cols = "60" placeholder = "Kommentoi reseptiä..." maxlength = 2000 required></textarea>
  <br />
  <input type = "hidden" name = "recipe_id" value = "{{recipe.id}}"/>
  <input type = "submit" value = "Lähetä arvio" />
</form>
{% endif %}


{%if reviews%}
<div class="review-section">
  <h2>Arviot</h2>
    {% if my_review %}
    <div class="review">
      <div class = "review-header">
        <p><strong>Käyttäjä: <a href = "/user/{{my_review.user_id}}">{{my_review.username}}</a></strong></p>
        <p><a href = "/recipe/{{recipe.id}}/edit_review/{{my_review.review_id}}">Muokkaa</a></p>
      </div>
      <p>{{my_review.rating}}/5</p>
      <p>{{my_review.comment}}</p>
    </div>

    {% endif %}

    {%for review in reviews if review.user_id!=my_review.user_id%}
    <hr>
    <div class="review">
      <p><strong>Käyttäjä: <a href = "/user/{{review.user_id}}">{{review.username}}</a></strong></p>
      <p>{{review.rating}}/5</p>
      <p>{{review.comment}}</p>
      {%endfor%}
    </div>
</div>
{% endif %}
{%endblock%}
